// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// HEADING
h1, h2 {
    font-weight: 700;
    color: #6c757d;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
}


// TABLE
caption {
    font-size: 1.4em;
    caption-side: top;
    font-weight: 700;
}

// FA

.fa-trash {
    cursor: pointer;

    &:hover {
        color: red;
    }
}

a {
    .fa-eye, .fa-edit, .fa-plus, .fa-arrow-alt-circle-down, .fa-arrow-alt-circle-up {
        text-decoration: none;
        color:initial;

        &:hover {
            color: blue;
        }
    }
    
}